@import '../../../../common/commonConstant.scss';

.room {
  text-align: center;
  .room-header {
    margin-top: 60px;
    font-size: 37px;
    color: #383838;
    animation-name: slide-up;
    animation-duration: 0.5s;
  }
  button {
    padding: 15px 50px;
    margin-bottom: 5px;
  }
  .room-content {
    margin-top: 100px;
    animation-name: slide-up;
    animation-duration: 0.5s;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate(0px, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
