@import '../../../../common/commonConstant.scss';

.create-room {
  text-align: center;
  .create-room-header {
    margin-top: 40px;
    font-size: 37px;
    color: #383838;
    animation-name: slide-up;
    animation-duration: 0.5s;
  }
  .create-room-content {
    margin-top: 20px;
    animation-name: slide-up;
    animation-duration: 0.5s;
  }
  .create-room-footer {
    margin-top: 40px;
    animation-name: slide-up;
    animation-duration: 0.5s;
    button {
      margin-right: 5px;
    }
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate(0px, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
